@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    outline: none;
    letter-spacing: -0.02px;
    box-sizing: border-box;
}


@layer utilities {
    .shadow-input-focused {
        box-shadow: 0 0 0 2px theme('colors.blue.500');
    }

    .shadow-input-invalid {
        box-shadow: 0 0 0 2px theme('colors.red.500');
    }

    .transparent-overlay {
        background-color: rgba(0, 28, 28, .3);
    }

}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

::-webkit-scrollbar {
    background:transparent;
    width: 6px;
    /*display: none;*/
}

::-webkit-scrollbar-thumb {
    border-radius: 999px;
    background-color:theme('colors.gray.200');
}

::-webkit-scrollbar-corner {
    display: none;
}